body {background-color: rgb(85, 0, 0);}
div  {
  background-color: light red;
  width: 50%;
  border-left: 3px solid black;
  border-right: 3px solid black;
  padding: 20px;
  text-align: center;
  justify-content: center;
}
